/* Generic settings */

html {
  color: #ffffff;
}

#site-container {
  width: 500vw;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  text-align: center;
}

h1 {
  font-family: "Codystar", cursive;
  font-size: 6rem;
  font-weight: normal;
  letter-spacing: 10px;
}

h2,
h3,
h4,
p,
table,
figcaption,
label {
  font-family: "Open Sans", sans-serif;
}

section {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Rocket nav bar */

#rocket-nav {
  position: fixed;
  left: 20vw;
  bottom: 60px;
  width: 60vw;
  z-index: 99;
}

#navline {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 98;
}

#rocket {
  z-index: 99;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -80px;
  transform-box: fill-box;
  transform-origin: center;
  width: 157px;
  height: 157px;
}

/* Landing Section */

#landing {
  background: linear-gradient(
    90deg,
    rgba(30, 26, 52, 1) 0%,
    rgba(5, 2, 62, 1) 34%,
    rgba(28, 9, 91, 1) 100%
  );
  justify-content: center;
  align-items: center;
}

.planet {
  position: absolute;
  overflow: hidden;
  z-index: 90;
}

#planet1 {
  width: 250px;
  height: 250px;
  left: 100px;
  top: 50px;
}

#planet2 {
  width: 200px;
  height: 200px;
  right: 50px;
  bottom: 150px;
}

#planet3 {
  width: 100px;
  height: 100px;
  left: 75px;
  top: 175px;
}

#planet4 {
  width: 350px;
  height: 350px;
  left: -100px;
  bottom: -100px;
}

.star {
  position: absolute;
  height: 2px;
  width: 2px;
  z-index: 1;
}

/* Bio section */

#bio {
  background: linear-gradient(
    90deg,
    rgba(28, 9, 91, 1) 0%,
    rgba(5, 2, 62, 1) 37%,
    rgba(30, 26, 52, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bio-header {
  margin-top: 2rem;
}

#bio-header h2 {
  font-size: 2rem;
}

#bio aside {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: center;
}

label {
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
}

input {
  margin-right: 0.2rem;
}

#bio-text {
  margin: auto 0;
  padding: 0 16rem 4rem 16rem;
}

/* Projects Section */

#projects {
  background: linear-gradient(
    90deg,
    rgba(30, 26, 52, 1) 0%,
    rgba(5, 2, 62, 1) 34%,
    rgba(28, 9, 91, 1) 100%
  );
  display: flex;
  flex-direction: column;
}

#projects h2 {
  margin-top: 2rem;
}

#project-gallery {
  display: flex;
  flex-direction: column;
}

.project-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project-title {
  padding-bottom: 8px;
}

#project-gallery figure {
  width: 350px;
  margin: 32px 128px;
  position: relative;
  z-index: 2;
}

.project-description {
  display: none;
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -40%);
  text-align: center;
  padding: 1rem;
}

.project-image:hover {
  cursor: pointer;
}

/* Skills Section */

#skills {
  display: relative;
  background: linear-gradient(
    90deg,
    rgba(28, 9, 91, 1) 0%,
    rgba(5, 2, 62, 1) 37%,
    rgba(30, 26, 52, 1) 100%
  );
  flex-direction: column;
  padding-top: 4rem;
}

.skills-table {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(5, 2, 62, 1);
  margin: 4rem auto;
  z-index: 99;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

th {
  border-bottom: 1px solid rgba(5, 2, 62, 1);
}

h3 {
  font-size: 1.5rem;
}

.table-header {
  font-weight: bold;
  font-size: 1.3rem;
}

.planet-container {
  position: absolute;
  width: 350px;
}

#planet5 {
  width: 350px;
  height: 350px;
}

/* Contact section */
#contact {
  background: linear-gradient(
    90deg,
    rgba(30, 26, 52, 1) 0%,
    rgba(5, 2, 62, 1) 34%,
    rgba(28, 9, 91, 1) 100%
  );
  display: flex;
  flex-direction: column;
}

#contact h2 {
  margin-top: 2rem;
}
