/* Variables */
/* spacing variables: golden ratio */
:root {
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-sm: 0.78rem; /* added manually */
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;
}

/* fonts */
@import url("https://fonts.googleapis.com/css?family=Codystar|Open+Sans&display=swap");

/* Generic settings */

html {
  color: #ffffff;
}

#site-container {
  width: 500vw;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  text-align: center;
}

h1 {
  font-family: "Codystar", cursive;
  font-size: 6rem;
  font-weight: normal;
  letter-spacing: 10px;
}

h2,
h3,
h4,
p,
table,
figcaption,
label {
  font-family: "Open Sans", sans-serif;
}

section {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.satellite {
  height: 40px;
  position: absolute;
  left: -20vw;
  z-index: 9999;
  animation-name: satellite-travel;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.satellite:nth-of-type(1) {
  top: 30vh;
}

.satellite:nth-of-type(2) {
  top: 80vh;
  animation-delay: 40s;
}

@keyframes satellite-travel {
  0% {
    left: -20vw;
  }

  100% {
    left: 500vw;
  }
}

/* Rocket nav bar */

#rocket-nav {
  position: fixed;
  left: 20vw;
  bottom: 60px;
  width: 60vw;
  z-index: 99;
}

#navline {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 98;
}

#rocket {
  z-index: 99;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -80px;
  transform-box: fill-box;
  transform-origin: center;
  width: 157px;
  height: 157px;
}
