#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#about-me-main {
  visibility: hidden;
  animation: fadein 0.5s;
}

.gillian {
  max-width: 300px;
  margin: var(--space-lg) auto;
  animation: fadein 0.5s;
}

.bio {
  text-align: left;
  margin: 0 var(--space-xxxxl);
  margin-bottom: var(--space-lg);
  background-color: var(--transparentwhite);
  animation: fadein 0.5s;
}

.bio p {
  padding: var(--space-sm);
}

.bio a {
  text-decoration: none;
  color: var(--pink);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .bio {
    margin: var(--space-sm) var(--space-xxl);
  }
}

@media screen and (max-width: 500px) {
  .bio {
    margin: var(--space-sm);
  }
}
