.cat-container {
  position: fixed;
  transform: translateY(-120px);
  animation: fall 5s linear infinite;
  z-index: 99;
}

.cat {
  width: 100px;
  animation: rotate 2s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-120px);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }
}
