#main-landing {
  justify-content: center;
  visibility: hidden;
  animation: fadein 0.5s;
}

#landing-section {
  padding: var(--space-xl) 0;
  background-color: var(--transparentwhite);
}

#title {
  font-size: var(--space-xl);
}

#subtitle {
  font-size: var(--space-md);
}

#title,
#subtitle {
  padding: var(--space-xxs);
}

#emoji-container {
  display: inline-block;
}

span {
  display: inline-block;
  font-size: var(--space-lg);
}

.animated {
  animation: spin 0.5s linear 1;
}

#intro {
  padding: var(--space-md) var(--space-xxxxl);
}

footer svg {
  width: 24px;
  height: 24px;
  margin: var(--space-xxxxs);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  #intro {
    padding: var(--space-md) var(--space-xxl);
  }
}

@media screen and (max-width: 500px) {
  #title {
    font-size: var(--space-lg);
  }

  #intro {
    padding: var(--space-md) var(--space-lg);
  }
}
