nav {
  background-color: var(--transparentwhite);
  padding: var(--space-xxs) 0;
}

ol {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

nav li {
  color: var(--charcoal);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: var(--space-xs);
  position: relative;
  font-size: var(--space-md);
}

nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--pink);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 1000px) {
  nav li {
    font-size: var(--space-unit);
  }
}

@media screen and (max-width: 500px) {
  nav li {
    font-size: var(--space-sm);
  }
}
