#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#projects-main {
  visibility: hidden;
  animation: fadein 0.5s;
}

.project-focus {
  display: grid;
  margin: var(--space-xl) auto;
  text-align: left;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "project-focus-image"
    "project-focus-text";
}

.project-focus-image {
  max-width: 350px;
}

.project-focus-text {
  padding: 0 var(--space-lg);
  margin: 0 var(--space-sm);
  background-color: var(--transparentwhite);
  max-width: 450px;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: var(--space-lg);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 500px) {
  .project-focus {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .project-focus-image {
    margin: auto;
  }
}
