@media screen and (max-width: 1000px) {
  nav a {
    font-size: var(--space-unit);
  }

  #intro {
    padding: var(--space-md) var(--space-xxl);
  }

  .bio {
    padding: var(--space-sm) var(--space-xxl);
  }

  .project {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  nav a {
    font-size: var(--space-sm);
  }

  .project-focus {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .project {
    width: 100%;
  }
}
